<h2 class="page-header">Edit book</h2>
<form method="POST" action="/books/<%= book.id %>?_method=PUT">
  <%- include('_form_fields', { book, authors }) %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books/<%= book.id %>">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
