<h2 class="page-header">New book</h2>
<form action="/books" method="POST">
  <%- include('_form_fields', {authors}) %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
