<header class="">
  <nav class="header-nav">
    <a class="header-title" href="/">Mybrary</a>
    <ul class="header-links">
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Book</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add author</a></li>
    </ul>
  </nav>
</header>
