:root {
  --form-label-font-size: 1.2rem;
  --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
  --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);
  --form-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
}

.form-row {
  /* background-color: red; */
  display: flex;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
}

.form-row-end {
  justify-content: flex-end;
}

.form-item {
  /* background-color: fuchsia; */
  margin-left: 2rem;

  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}
.form-item:first-child {
  margin-left: 0rem;
}

.form-item-no-grow {
  flex-grow: 0;
}

.form-item > label {
  /* background-color: red; */
  font-size: var(--form-label-font-size);
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}
.form-item > input,
.form-item > select,
.form-item > textarea {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--form-input-border-color);
  background-color: var(--form-input-background-color);
  color: var(--color-text-light);
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Gotham Rounded';
  outline: none;
}
.form-item > input:focus,
.form-item > select:focus,
.form-item > textarea:focus {
  border-color: var(--form-input-border-color-light);
}

.form-item > select > option {
  background-color: red;
}

.form-item textarea {
  height: 100%;
  resize: none;
}

.filepond--root {
  font-family: 'Gotham Rounded';
  margin-bottom: 0;
}

.filepond--panel-root {
  background-color: var(--form-input-background-color);
  border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label {
  color: var(--color-text-light);
  font-size: inherit;
}
